body {
  font-family: 'Roboto', sans-serif;
  background-color: #1b1b1b; 
  color: #e0e0e0; 
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container {
  text-align: center;
  background: linear-gradient(145deg, #2f2f2f, #1a1a1a); 
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6); 
  width: 80%;
  max-width: 800px;
  margin-top: 40px;
  border: 1px solid #2d2d2d;
}

h1 {
  color: #e0e0e0; 
  font-size: 36px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h3, p {
  color: #c0c0c0; 
  font-size: 18px;
}

h3 a, p a {
  color: #61dafb;
  text-decoration: none;
  font-weight: bold;
}

h3 a:hover {
  text-decoration: underline;
}

input {
  padding: 12px;
  font-size: 16px;
  margin-bottom: 15px;
  width: 60%;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #2b2b2b;
  color: #e0e0e0;
}

button {
  padding: 12px 25px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #3e3e3e;
  color: #e0e0e0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #505050;
}

.canvas-container {
  max-height: 70vh;
  overflow-y: auto;
  margin-top: 20px;
  background-color: #4b4b4b;
  border: 1px solid #4b4b4b;
  padding: 10px;
  border-radius: 5px;
}

canvas {
  border: 1px solid #4b4b4b;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

input:focus, button:focus {
  outline: none;
  border: 1px solid #61dafb;
}

button:active {
  background-color: #505050; 
  box-shadow: none;
}